body{
    background-color:darkmagenta;
    color:white;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:rgb(151, 104, 196);
    color:white;
    font-family: cursive;
}

.passo{
    display:none;
}

.passo.ativo{
    display:block;
}